<div class="hero">
	<div class="container">
		<div class="hero__inner">
			<h1 class="hero__title">Mounight</h1>
			<h3 class="hero__subtitle">Explore over 1,000,000 photos from around the world</h3>
			<input class="hero__search" placeholder="Search images"/>
		</div>
	</div>
</div>